.mt-15 {
  margin-top: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-2 {
  margin-right: 20px;
}

.mb-05 {
  margin-bottom: 5px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-5 {
  margin-bottom: 50px;
}

.ml-auto {
  margin-left: auto;
}

.ml-145 {
  margin-left: 145px;
}